
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-weight: 200;
    font-size: 40px;
    line-height: 35px;
}
.name-marker{
    color: #ec4c7a;
    font-weight: 900;
}
p{
    color: #707070;
}
.profile-summery{
    padding-bottom: 20px;
}
.link-button{
    background-color: #ec4c76;
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;

}
section{
    height: 700px;
}
.half-col{
    width: 40%;
    float: left;
    padding-top: 150px;
    position: relative;
    left: 10%;
   
    
}
.half-col img{
    width: 80%;
    margin-top: -50px;
}
.header-section{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.biography-section{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.biography p{
    padding-bottom: 15px;
}

.latest-work{
    background-image: url("images/latest-work-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.full-col{
    padding-top: 50px;
}
.full-col h1{
    text-align: center;
}
.full-col img{
    width: 30%;
    position: relative;
    left: 5%;
    padding-right: 10px;
}

.testimonial{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.client{
    text-align: center;
    line-height: 15px;
}
.client h5{
    padding-top: 50px;
}
.review p{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    color: #202428;
}
.contact{
    height: 130px;
    width: 400px;
    background-color: #ec4c76;
    border-radius: 5px;
    position: relative;
    left: 35%;

}
.contact p, a{
    color: white;
    text-align: center;
}
.contact p{
    padding-top: 30px;
    font-size: 12px;
}
.contact a{
    text-decoration: none;
    font-size: 20px;
    display: inherit;
    padding-bottom: 30px;
}

.footer-section p{
    text-align: center;
}

